doctype html
html(lang='en', dir='ltr')
  head
    meta(charset='utf-8')
    title Your search results
    link(href='https://fonts.googleapis.com/css?family=Quicksand&display=swap', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Inconsolata&display=swap', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Varela+Round&display=swap', rel='stylesheet')
    style.
      * {
      margin:0;
      padding:0;
      }
      p {
      line-height:25px;
      }
      body {
      background-color:#B2F8F1;
      }
      h1 {
      margin-top:10px;
      font-size:2.4em;
      color:#1B4F72;
      text-align:center;
      font-family: 'Quicksand', sans-serif;
      }
      h2 {
      font-family: 'Varela Round', sans-serif;
      }
      h3 {
      font-family: 'Inconsolata', monospace;
      }
      .results {
      border-line:solid black 1px;
      margin-left:12.5%;
      margin-right:12.5%;
      background-color:#EAFAF1;
      border:solid black 0.00001px;
      }
      .job {
      margin-top:2%;
      margin-left:12.5%;
      margin-right:12.5%;
      width:75%;
      }
      .menu {
      width:100%;
      height: 20%;
      background-color: #F5B7B1;
      float: right;
      justify-content: space-around;
      display: fl
      position:absolute;
      }
      ul.list {
      height: 20%;
      margin: 0px;
      padding: 0px;
      list-style: none;
      }
      ul li.men {
      float: left;
      width: 25%;
      text-align: center;
      justify-content: space-around;
      font-size: 1.6em;
      }
      .list li:hover {
      }
      p {
      line-height:25px;
      }
      body {
      background-color:#FDF2E9;
      }
      h1 {
      margin-top:10px;
      font-size:2.4em;
      color:#1B4F72;
      text-align:center;
      font-family: 'Quicksand', sans-serif;
      }
      h2 {
      font-family: 'Varela Round', sans-serif;
      }
      h3 {
      font-family: 'Inconsolata', monospace;
      }
      .results {
        border-line:solid black 1px;
        margin-left:12.5%;
        margin-right:12.5%;
        background-color:#EAFAF1;
        border:solid black 0.00001px;
      }
      .job {
        margin-top:2%;
        margin-left:12.5%;
        margin-right:12.5%;
        width:75%;
      }
      a{
        text-decoration:none;
        font-family:'Quicksand', sans-serif;
        color:#0B5345;
      }
      a:hover {
        color: #FDEDEC;
      }
    script.
      function display() {
      var x = documnet.getElementByID("inn");
      if(x.style.display == 'none') {
      x.style.display = "block";
      }
      else {
      x.style.display = "none";
      }
      }
      
      
  body
    .menu
      ul.list
        li.men
          a(href='/') Home
        li.men
          a(href='/sponsered') Sponsered
        li.men
          a(href='/about') About
        li.men
          a(href='/team') Meet the Team
    .results
      h1 Jobs based on your search
      h1 #{pos} #{loc}
      each job, i in job_desc
        .job
          h2 #{job.TITLE}
          h2 #{job.COMPANY}
          h3 #{"Description:"}
          p #{job.desc}
          a(href=jobs.LINK)
          
          
          

          
      
